* {
	box-sizing: border-box;
}

body {
	display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  align-content: left;
  list-style-type: none;
	background-color: black;
  color: white;
  font-size: 12pt;
  font-weight: 100;
  text-align: left;
  min-height: 100vh;
}
.allTasks{
  display: flex;
  justify-content: left;
  padding: 5px;
}
.allTasks button[type=submit] {
  display: inline-flex;
  border: 1px solid #e4e4e4;
  color: white;
  text-align: center;

}

.allTasks__header{
  font-size: 2em;
}
.newTask__field {
  width: 300px;
}