<div class="allTasks">
	<form class="allTasks__list" method="post" action="/all_tasks">
		<p class="allTasks__header">List of All Tasks</p>
		<% @taskDescription.each do |key, value| %>
			<div class="allTasks__description"> <%= value %> </div>
		<% end %>
	</form>
</div>
<br>
<br>
<form action="/new_task" method="post" class="newButton">
	<button type="submit" name="new_task" value="yes">Create New Task</button>
</form>