<div class="editTask">
	<form class="editTask__entry" method="post" action="/edit_task">
		<p class="editTask__header">Edit a Task</p>
		<input type="hidden" name="editTask" value="<%= @editTask %>">
		<input type="hidden" name="taskDescription" value="<%= @taskDescription[@editTask] %>">
		<input type="hidden" name="taskStatus" value="<%= @taskStatus[@editTask] %>">
		<p class="editTask__fieldText">Current description:</p>
		<input type="text" name="taskDescription" value="<%= @taskDescription[@editTask] %>">
		<input type="checkbox" name="complete" value="c">Task complete</form>

  		<button type="submit" name="edit_task" value="yes">Save Task</button> 
	</form>
</div>
<br>
<br>
<form action="/all_tasks" method="post" class="newButton">
	<button type="submit" name="all_tasks" value="yes">Return to Task List</button>
</form>