<div class="newTask">
	<form class="newTask__entry" method="post" action="/new_task">
		<p class="newTask__header">Create a New Task</p>
		<input type="text" name="newDescription" class="newTask__field">
		<input type="radio" name="newStatus" value="i" class="newTask__radio">to-do
  		<input type="radio" name="newStatus" value="c" class="newTask__radio">complete<br>
  		<button type="submit" name="new_task" value="yes">Submit New Task</button>
	</form>
</div>
<br>
<br>
<form action="/new_task" method="post" class="newButton">
	<button type="submit" name="new_task" value="yes">Submit New Task</button>
</form>